/**
 *  Setup
 *
 */
html {
    margin: 0;
}
body {
    color: #f2f6fa;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

input {
    outline: none;
}

#templates {
    display: none;
}

.centerer {
    margin-left: 50%;
}
.centered {
    margin-left: -400px;
    width: 800px;
}

.center {
    text-align: center;
}

.clearfix {
    clear: both;
}

.violation {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding-top: 200px;
    height: 100%;
    text-align: center;
}

.ion-tnp-home {
    font-size: 0.85em;
    position: relative;
    top: -4px;
}

.ion-tnp-qrcode {
    font-size: 0.78em;
    position: relative;
    top: -4px;
}
/**
 *
 */

.background-light { 
    background: url(/images/background-wallet.png) top left repeat;
}

.background-dark { 
    background: url(/images/background-status.png) #000 repeat;
}

.bubble {
    border: 2px solid white;
    border-radius: 10px;
    bottom: 48px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #fee;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    right: -10px;
    line-height: 25px;
    min-width: 80px;
    opacity: 0;
    padding: 6px 10px;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.2s linear;
}

.bubble-trigger:hover .bubble {
    opacity: 1;
    transition: opacity 0.3s linear 0.2s;
}

.bubble:before {
    bottom: -20px;
    content: "";
    display: block;
    position: absolute;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 20px 20px 0;
    right: 8px;
    width: 0;
}

.bubble:after {
    bottom: -17px;
    right: 10px;
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 18px 18px 0;
    width: 0;
}


/**
 *  Interface
 *
 */
#interface {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
    height: 75px;
    left: -20px;
    right: -20px;
    overflow: hidden;
    position: fixed;
    ddposition: absolute;
    transition: height 0.2s ease-out;
    z-index: 3;
}
#interface .background {
    height: 100%; 
    position: absolute;
    transition: opacity 0.2s ease-in-out 0.1s;
    width: 100%;
    z-index: 1;
}

#interface.hover:hover {
    height: 200px;
    transition: height 0.2s ease-out 0.2s;
}

/*
#interface.hover:hover .background {
    ddd-opacity: 0.9;
}
*/

/**
 *   Interface - Modal
 */
#modal {
    position: absolute;
    z-index: 3;
}

#modal > div {
    position: absolute;
    width: 100%;
}

#modal .header {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    margin: 15px 0 10px;
}

#modal p {
    display: inline-block;
    text-align: justify;
    line-height: 140%;
    margin: 0 0 25px 0;
}

#modal .warning {
    color: #c22;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 5px;
    border-radius: 6px;
    display: inline-block;
}

#modal .cancel {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    padding: 15px 40px;
    display: inline-block;
    transition: transform 0.3s ease-out;
}

@keyframes pop {
    0% { transform: scale(1); }
    30% { transform: scale(1.3); }
    100% { transform: scale(1.2); }
}

#modal .cancel:hover {
    transition: none;
    transform: scale(1.2);
    animation: pop 0.3s ease-out;
}

#modal .button {
    background-color: rgba(255, 255, 255, 0.14);
    border: 3px solid #eee;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 36px;
    line-height: 40px;
    margin: 0 0 15px 0;
    transition: opacity 0.2s linear;
    width: 432px;
}

#modal .button:not(.disabled):hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid #fff;
    color: #fff;
}

#modal .button:not(.disabled):active {
    background-color: #fff;
    color: #6aa3ce;
    box-shadow: none;
}

#modal .button.disabled {
    opacity: 0.3;
}
#modal .dropTarget {
    background-color: rgba(255, 255, 255, 0.14);
    border: 1px solid #eee;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 36px;
    line-height: 40px;
    margin: 0 0 15px 0;
    position: relative;
    width: 406px;
}

#modal .dropTarget.highlight {
    background-color: #fff;
    color: #6aa3ce;
}

#modal .dropTarget input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#modal .dropTarget:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    color: #fff;
}

#modal .dropTarget:active {
    background-color: #fff;
    color: #6aa3ce;
}

#modal .input-box {
    background-color: rgba(255, 255, 255, 0.14);
    border: 1px solid #ccc;
    border-radius: 20px;
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    margin: 0 0 15px 0;
    position: relative;
    vertical-align: top;
    width: 406px;
}

#modal .input-check {
    display: inline-block;
    text-align: center;
    height: 42px;
    right: -50px;
    top: 1px;
    line-height: 42px;
    position: absolute;
    vertical-align: top;
    width: 40px;
}

#modal .input-check i {
    height: 100%;
    left: 0;
    position: absolute;
    transition: opacity 0.1s linear;
    top: 0;
    width: 100%;
}

#modal .input-check .ok {
    color: #a8f092;
    font-size: 24px;
}

#modal .input-check .not-ok {
    color: #eab1b1;
    font-size: 22px;
}

#modal input::-webkit-input-placeholder {
    color: #eee;
}
#modal input:-moz-placeholder {
    color: #eee;
}
#modal input::-moz-placeholder {
    color: #eee;
}
#modal input:-ms-input-placeholder {
    color: #eee;
}
#modal input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    line-height: 30px;
    width: 100%;
}

@keyframes spin {
    0% { transform: scale(1.1, 0.91); opacity: 0.4; }
    25% { transform: rotate(6deg) scale(0.91, 1.1); opacity: 0.7; }
    50% { transform: scale(1.2, 0.83); opacity: 0.4; }
    75% { transform: rotate(-6deg) scale(0.91, 1.1); opacity: 0.7; }
    100% { transform: scale(1.1, 0.91); opacity: 0.4;}
}

#modal .spinner {
    animation: spin 2.0s ease-in-out infinite;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 60px;
}

#modal .bubble {
    background: #4e7691;
    white-space: pre;
}

#modal .bubble:after {
    border-color: #4e7691 transparent;
}



/**
 *  Interface - Modal - Progress Bar
 *
 */

@keyframes glide {
    0% { background-position: 0 0; }
    100% { background-position: -75px 0px; }
}

#modal .progress {
    background-color: rgba(255, 255, 255, 0.14);
    border: 1px solid #ccc;
    border-radius: 20px;
    display: inline-block;
    transform-origin: top left;
    position: relative;
    margin: 0 0 15px 0;
    height: 30px;
    padding: 5px;
    width: 406px;
}

#modal .progress .bar {
    animation: glide 2s linear infinite;
    background: url(/images/progress-blue.png);
    border: 1px solid #ccf;
    border-radius: 15px 15px 15px 15px;
    box-sizing: border-box;
    height: 30px;
    transition: opacity 0.8s ease-out;
    width: 50%;
}

#modal .progress .bar.complete {
    background: url(/images/progress-green.png);
    border: 1px solid #8d8;
    opacity: 0.8;
}

#modal .progress .status {
    position: absolute;
    text-align: center;
    line-height: 40px;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
}

#modal .progress .status span {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 10px;
}


/**
 *   Interface - Modal - Tables
 */

#modal table {
    dddborder: 1px solid green;
    display: inline-block;
    margin-bottom: 20px;
}

#modal th {
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

#modal td {
    padding-bottom: 10px;
    text-align: left;
}

#modal td .from-address {
    dfont-size: 0.9em;
    opacity: 0.6;
}

#modal td .to-icap-address {
    dfont-size: 0.9em;
    opacity: 0.6;
}

#modal td span.data {
    font-family: monospace;
    max-height: 65px;
    overflow: scroll;
    display: inline-block;
}

@keyframes glow {
    0% { opacity: 0.4; }
    50% { opacity: 1.0; }
    100% { opacity: 0.4; }
}

#modal td .estimate-fee {
    font-size: 0.8em;
    font-style: italic;
    left: 15px;
    dpadding-left: 15px;
    opacity: 0.8;
    position: relative;
    top: -2px;
    transition: opacity 0.2s linear;
}

#modal table .unit {
    display: inline-block;
    font-size: 0.8em;
    opacity: 0.8;
}

#modal .glow {
    animation: glow 1s ease-in-out infinite;
}

/**
 *   Interface - Wallet
 */
#wallet {
    position: absolute;
    transition: opacity 0.3s linear;
    z-index: 3;
}

#wallet .header {
    dborder: 1px solid white;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    transform: translateY(3px);
    transition: transform 0.2s ease-out;
    margin: 0;
    opacity: 0.8;
    dpadding: 18px 0 0 0;
}

#interface.hover:hover #wallet .header {
    transform: translateY(18px);
    transition: transform 0.2s ease-out 0.2s;
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#wallet .info {
    ddd-border: 1px solid white;
    font-size: 37px;
    height: 45px;
    line-height: 45px;
    transition: transform 0.2s ease-out;
    transform: translateY(-3px);
    vertical-align: top;
}

#wallet .unit {
    display: inline-block;
    font-size: 22px;
    opacity: 0.6;
    position: relative;
    bottom: 2px;
}

#wallet .info span {
    transition: transform 0.2s ease-out;
}

#wallet .info .left {
    transform-origin: top left;
}

#wallet .info .right {
    transform-origin: top right;
}

#interface.hover:hover #wallet .info span {
    transform: scale(1.15);
    transition: transform 0.2s ease-out 0.2s;
}

#interface.hover:hover #wallet .info {
    transform: translateY(18px);
    transition: transform 0.2s ease-out 0.2s;
}

#wallet .apps {
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0.2s ease-out, opacity 0.2s linear;
}

#interface.hover:hover #wallet .apps {
    opacity: 1;
    transform: translateY(30px);
    transition: transform 0.2s ease-out 0.2s, opacity 0.2s linear 0.2s;
}

#interface.hover:hover #wallet .apps .app:not(.selected) .image {
    opacity: 0.8;
    transform: scale(1);
    transition: transform 0.1s ease-out 0.1s, opacity 0.1s linear 0.1s;
}

#wallet .apps > div {
    cursor: pointer;
    float: right;
    margin-left: 20px;
    position: relative;
    width: 60px;
}

#wallet .apps .image {
    border-radius: 50%;
    background-color: #fff;
    color: #6aa3ce;
    font-size: 40px;
    height: 60px;
    line-height: 64px;
    opacity: 0;
    text-align: center;
    transform: scale(0.1);
    transition: transform 0.1s ease-out, opacity 0.1s linear;
    width: 60px;
}

#wallet .apps > div.app.selected .image {
    opacity: 1;
}

#interface.hover:hover .app.selected .image {
    transform: scale(1);
}

#interface.hover:hover #wallet .apps .app:not(.selected):hover .image {
    opacity: 1;
    transform: translateY(-7px);
}

#wallet .apps:hover > div.app.selected:hover .image {
    opacity: 1;
    transform: scale(1);
}

#wallet .apps .label {
    dddborder: 1px solid green;
    bottom: -17px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: -70px;
    opacity: 0;
    text-align: center;
    transition: transform 0.1s ease-out 0.1s, opacity 0.2s linear 0.1s;
    width: 200px;
}

#wallet .apps > div.app.selected .label {
    opacity: 0.9;
    transform: none;
}

#wallet .apps:hover > div.app .label {
    opacity: 0;
}

#wallet .apps:hover > div.app:hover .label {
    opacity: 1;
    transform: translateY(2px) scale(1.4);
}

#wallet .apps:hover > div.app.selected:hover .label {
    opacity: 0.9;
    transform: none;
}

#wallet .apps div.gap {
    width: 0;
    height: 50px;
    border-right: 1px solid #eee;
    margin: 5px 5px 5px 25px;
}

#wallet .left {
    display: inline-block;
    float: left;
}

#wallet .right {
    display: inline-block;
    float: right;
}


#wallet #with-account {
    opacity: 0;
}

#wallet #without-account {
    font-weight: bold;
    position: absolute;
    top: 0;
    height: 75px;
    line-height: 75px;
    opacity: 0;
    text-align: center;
    width: 100%;
}

#wallet #without-account a {
    border-bottom: 1px dashed #ccc;
    color: #ddf;
    cursor: pointer;
}

#wallet #without-account a:hover {
    border-bottom: 1px dashed #ddd;
    color: #fff;
}


/**
 *  Notices
 *
 */

#notices {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

#notices .notice {
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    bottom: -60px;
    display: block;
    opacity: 0;
    padding: 15px 20px;
    position: fixed;
    right: 20px;
    transition: transform 0.3s ease-out, opacity 0.3s linear;
}

#notices .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#notices .message {
    font-size: 17px;
    font-style: italic;
}


/**
 *  Status Bar
 *
 */
#status {
    bottom: 0px;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.4);
    color: #ddd;
    height: 40px;
    left: -20px;
    line-height: 40px;
    padding: 0;
    position: fixed;
    right: -20px;
    z-index: 3;
}

#status-location {
    cursor: pointer;
    font-weight: bold;
    float: left;
}

#status-input-location {
    background: transparent;
    border: none;
    color: #eee;
    display: none;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    padding-left: 0;
    margin-left: -2px;;
    width: 600px;
}
/*
#status-location:empty + #status-input-location {
    display: inline-block;
    dddfont-size: 14px;
    dddfont-style: italic;
    dddfont-weight: bold;    
}
*/
.no-location {
    display: none;
    float: left;
}

#status-location:empty + .no-location {
    display: inline;
}

#status-info {
    float: right;
    font-size: 26px;
}

#status-info > div {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 40px;
}

#status-info #account-bubble-trigger > i {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#status .bubble {
    background: #333;
    padding: 10px 0px 20px;
    dddpointer-events: auto;
}

#status .bubble:after {
    border-color: #333 transparent;
}

#status #account-bubble-trigger:hover {
    background: #555;
}

#status #account-bubble-trigger:active {
    background: #777;
}

#status .no-account {
    color: #999;
    font-style: italic;
    font-weight: normal;
    padding: 20px 10px;
}

#status .option {
    height: 32px;
    line-height: 32px;
    margin: 5px 20px;
    position: relative;
    text-align: left;
    transition: height 0.3s ease-out, opacity 0.3s linear;
    white-space: nowrap;
}

#status .option .ion-locked {
    color: #f5b5b5;
    cursor: pointer;
}

#status .option .ion-unlocked {
    color: #b5f2bc;
    cursor: pointer;
}

#status .option:not(.selected) {
    cursor: pointer;
}

#status .option.selected .label {
    color: #fff;
}

#status .option.hidden {
    height: 0;
}

#status .option .label i {
    font-size: 14px;
    padding-left: 15px;
}

#status .option .label {
    font-size: 17px;
    font-weight: bold;
    position: relative;
}

#status .option .label input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    opacity: 0;
    left: -1px;
    top: -1px;
    margin: 0;
    padding: 1px;
    pointer-events: none;
    position: absolute;    
    width: 100%;
}

#status .gap {
    height: 0;
    border-top: 1px solid #999;
    margin: 10px 30px;
}

#status .option .image {
    display: inline-block;
    font-size: 18px;
    height: 26px;
    line-height: 26px;
    margin-right: 20px;
    opacity: 0.9;
    text-align: center;
    transition: transform 0.1s ease-out;
    width: 26px;
}

#status .option.selectable.selected .image {
    opacity: 0.9;
}

#status .option.selectable .image {
    opacity: 0.2;
}

@keyframes action-image {
    0% { transform: scale(1); }
    20% { transform: scale(1.7); }
    100% { transform: scale(1.5); }
}

#status .option:.selected {
    cursor: none;
}

#status .option:not(.selected):hover .image {
    animation: action-image 0.5s ease-out forwards;
    opacity: 1;
}

#status .option .actions {
    transition: opacity 0.1s linear;
}

#status .option:not(.selected) .actions {
    opacity: 0;
    pointer-events: none;
}

#status .option .actions {
    position: absolute;
    right: 0;
}

#status .option .actions i {
    color: #eee;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.5;
    display: inline-block;
    margin-left: 15px;
}

@keyframes action {
    0% { transform: scale(1); }
    20% { transform: scale(1.3); }
    100% { transform: scale(1.2); }
}

#status .option .actions i:hover {
    animation: action 0.5s ease-out forwards;
    opacity: 1;
}

/*
#status .checkbox {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0;
}

#status .checkbox .toggle {
    border: 3px solid #ddd;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    dfloat: left;
    margin-right: 20px;
    width: 26px;
    text-align: center;
}

#status .checkbox .toggle span i {
    font-size: 20px;
    line-height: 30px;
}

#status .checkbox .toggle span {
    opacity: 0;
    display: inline-block;
    transition: opacity 0.2s ease-in;
}

#status .checkbox:hover .toggle span {
    opacity: 0.2;
}

@keyframes check {
    0% { transform: scale(1); }
    20% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

#status .checkbox.checked .toggle span {
    opacity: 1;
    animation: check 0.5s ease-out;
}
*/

#status .option .label {
    color: #bbb;
    transition: color 0.1s linear;
    padding-right: 120px;
}

#status .option:hover .label {
    color: #eee;
}


/**
 *  Application
 *
 */

#app {
    bottom: 40px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 75px;
    transition: opacity 0.5s linear;
    z-index: 1;
}

#app iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s linear, filter 0.3s ease-out, -webkit-filter 0.3s ease-out;
    width: 100%;
    z-index: 2;
}

#app iframe.blur {
    opacity: 0.1;
/*  HUGE performance hit on Chrome
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
*/
}

#loading-spinner {
    bottom: 40px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 75px;
    transition: opacity 0.5s linear;
    z-index: 1;
}

#loading-spinner.showing {
    opacity: 1;
}

#loading-spinner i {
    animation: spin 2.0s ease-in-out infinite;
    color: #6196bc;
    display: inline-block;
    font-size: 90px;
    height: 100px;
    left: calc(50% - 50px);
    line-height: 100px;
    position: absolute;
    text-align: center;
    top: calc(50% - 50px);
    width: 100px;
}

#loading-spinner span {
    color: #6196bc;
    display: inline-block;
    opacity: 0.5;
    position: absolute;
    font-size: 14px;
    left: calc(50% - 100px);
    text-align: center;
    top: calc(50% + 50px);    
    width: 200px;
}

/**
 *  File Drop
 *
 */

#filedrop {
    background: #fff;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}


/**
 *
 */

@keyframes bounce {
    0% { transform: scale(1); opacity: 0.9; }
    7% { transform: scale(1.1, 0.91); opacity: 0.7; }
    21% { transform: rotate(6deg) scale(0.91, 1.1); opacity: 0.9; }
    35% { transform: scale(1.2, 0.83); opacity: 0.7; }
    49% { transform: rotate(-4deg) scale(0.95, 1.05); opacity: 0.8; }
    63% { transform: scale(1.1, 0.91); opacity: 0.6;}
    77% { transform: rotate(2deg) scale(0.95, 1.05); opacity: 0.7; }
    93% { transform: scale(1.02, 0.98); opacity: 0.8; }
    100% { transform: scale(1); opacity: 0.9; }
}

@keyframes drift {
    0% {transform: scale(1); opacity: 1; }
    98% { transform: translateX(-10px) scale(2.0, 1); }
    99% { transform: translateX(-10px) scale(2.0, 1); opacity: 0; }
    100% { transform: translateX(30px) scale(2.0, 1); opacity: 0; }
}

#logo {
    font-size: 36px;
    height: 75px;
    left: 30px;
    line-height: 75px;
    position: absolute;
    text-align: center;
    top: 0;
    opacity: 0.9;
    width: 75px;
    z-index: 4;
}

#logo i {
    height: 75px;
    position: absolute;
    width: 75px;
}

#logo .ion-logo-wind {
    left: -10px;
    opacity: 1;
    top: 0px;
    transform: translateX(0);
    transition: transform 1.2s ease-out, opacity 1.2s linear;
}

#logo .ion-logo-cloud {
    left: 16px;
    top: 0px;
}

#logo.animate .ion-logo-wind {
    animation: drift 0.3s ease-out;
    transition: none;
    opacity: 0;
    transform: translateX(20px) scale(2, 1);
}

#logo.animate .ion-logo-cloud {
    animation: bounce 2s ease-in-out;
}

/* Used as off-screen DOM node to compute text dimensions */
#inspect {
    left: 0;
    position: absolute;
    top: -1000px;
    z-index: 6;
}

